:root {
  --blue: rgb(30,144,211);
}

body {
    font-size: 1rem;
    font-family:"Open Sans Condensed", "Festive", Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;
}
h3 {
    color: white;
    background-color: var(--blue);
    border: solid 5px var(--blue);
    border-radius: 5px;
    font-size: 4.5vw;
    font-family:"Open Sans Condensed", "Festive", Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
    margin-top: 0vw;
    margin-bottom: 1vw;
}

h4 {
    color: white;
    background-color: var(--blue);
    border: solid 5px var(--blue);
    border-radius: 5px;
    font-size: 3.0vw;
    font-family:"Open Sans Condensed", "Festive", Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
    margin-top: 0vw;
    margin-bottom: 1vw;
}
h5 {
  color: rgb(0, 0, 0);
  background-color: rgb(194, 248, 0);
  border: solid 5px black;
  border-radius: 5px;
  font-size: 3.0vw;
  font-family:"Open Sans Condensed", "Festive", Arial, Helvetica, sans-serif;
  align-items: center;
  text-align: center;
  margin-top: 0vw;
  margin-bottom: 1vw;
}

p {
    color: white;
    font-size: 3.0vw;
    font-family:"Open Sans Condensed", "Festive", Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: left;
    margin: 0.2rem;
    background-color: var(--blue);
    padding: 0.5rem;
}

/* CSS */
button {
    align-self: center;
    background-color: rgb(17, 9, 82);
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  button:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  button:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }
  input:invalid {
    border:1px solid red;
  }
  table {
    size: 70%;
    padding-left: 0vw;
    border-spacing: 0.3vw 0vw;
    margin: 0px -15px;
  }

  fieldset {
    size: 30%;
    border-radius: 5px;
  }
  a {
    color: var(--blue);
    font-size: large;
    font-weight: bold;
    padding-top: 0.5rem;
    margin: 0.5rem;
  }
  label {
    font-size: 1.7vw;
    vertical-align: middle;
  
  }

  input {
    font-size: 1.4vw;
    vertical-align: middle;
  }

  td {
    padding-left: 0.5vw;
    padding-right: 0.1vw;
    height: 3vw;
    width: 40%;
  }

#chkraf {
  color: violet;
  background-color: yellow;
  border: yellow;
  border: 25px;
  size: 50vw;
}


tbody>tr>:nth-child(1){
  width:30%;
  text-align:left;
  vertical-align: middle;
  padding-left: 0.3vw;
 }

tbody>tr>:nth-child(2){
  width:25%;
  text-align:left;
  vertical-align: middle;
  border-right: 1px solid #ddd;
  padding-left: 0.3vw;
}


 tbody>tr>:nth-child(3){
  width:50%;
  text-align:start;
  vertical-align: middle;
  padding-right: 0.1vw;
  padding-left: 1vw;
 }

 tbody>tr>:nth-child(3):hover {
   background-color: rgb(211, 211, 211);}

#button1 {
  color: white;
  background-color: var(--blue);
  font-size: 3.0vw;
  border: white solid 1px;
  border-radius: 10px;
  width: 20%;
}
#button1:hover {
  background-color: gray;
}